@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial;
}

main {
    width: 100vw;
    height: 100vh;

    background: #333533;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.container_calculadora {
    width: 300px;
    height: 450px;
    border-radius: 10px;

    background: #202020;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_calculadora:hover{
    margin: 5px;
    border: 1px solid #f5f1e3;
}

.resultado{
    width: 270px;
    height: 60px;
    border-radius: 10px;

    color: #ffffff;
    text-align: right;
    font-size: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    overflow: hidden;
}

.numeros{
    width: 270px;
    height: 350px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.numeros div{
    width:  270px;
    height: 70px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.numeros div>button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50px;
    cursor: pointer;

    font-size: 1.5rem;
    font-weight: 400;

    background: #333533;
    color: #fff;
}

button:hover{
    transition: .2s ease-in-out  !important;
    background: #f5f1e3 !important;
    color: #202020 !important;
}

.bgamarelo{
    background: #faa916 !important;
}

.bgwhite{
    color: #202020 !important;
    background: #ced0ce !important;
}

.size {
    width: 130px !important;
}

@keyframes animation-background {
    0%{
        background: #333533;
    }

    35%{
        background: #1f211f;
    }

    70%{
        background: #161816;
    }

    100%{
        background: #0f100f;
    }
}
